<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>PrototypeDemo</display-name>

    <servlet>
        <servlet-name>PrototypeServlet</servlet-name>
        <servlet-class>com.prototype.servlets.PrototypeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PrototypeServlet</servlet-name>
        <url-pattern>/prototype</url-pattern>
    </servlet-mapping>
</web-app>
